body{
	background-color: lightgray;
}
h1{
	font-size: 30px;
	color: #0C8AEF;
}
h2{
	font-size: 20px;
	color: #D60B33;
}
.big{
	font-size: 60px;	
}

.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: black;
}
h1 span{
	color:violet;
}